
/*Body Styling*/
body {
    margin: 0;
    padding: 0;
    background-image: url("./Assets/Bgrnd.png");
    }

/*Navbar Styling*/
.navbar {
        min-height: 75px;
        }
.navbar-light .navbar-brand{
        background-color: #16aca4;
        color: white;
        height: 100%;
        min-height: 50px;
        top:0;
        font-size: 25px;
        position: absolute;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: -190px;      
        }
#navbarSupportedContent {
    padding-right: -200px;
        }
        
/*Container Styling*/
.container1 {
    max-width: 970px;
    margin-left: 130px;
        }
/*hr Styling*/
hr {
    border-top: 3px solid #ccc;
}
/*Footer Styling*/
.footer {
    background-color: #16aca4; 
    min-height: 5% !important; 
    padding: 0px;
}
.footer-upper {
    margin-top: 15% !important;
}
.footer-lower {
    background-color: rgb(122, 116, 116); 
    color: white; 
    padding: 0; 
    height: 80px !important
}
  

